:root{
  --bg-dark-color: #0c0b0b;
  --bg-light-color: #0f0e0e;
  --text-color: #b7b7b7;
}
.category{
  --projects: #046313;
  --stars: #044a7d;
  --follows: #725200;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: var(--text-color);
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--bg-dark-color);
}
.main-container .card{
  width: 50%;
  height: 48%;
  background: var(--bg-light-color);
  padding: 2rem;
}